@page "/"

@using LifeHelper.Shared.Models.LIFF

@inject IHttpClientFactory clientFactory

<PageTitle>小記帳</PageTitle>

<div class="p-3 bg-white shadow-lg rounded-xl">

    <MonthlyAccounting></MonthlyAccounting>

</div>

@code {

}