@inherits LayoutComponentBase

@using Blazored.LocalStorage;
@using LifeHelper.Shared.Models.LIFF
@using LifeHelper.Client.Provider

@inject NavigationManager uriHelper
@inject ILocalStorageService localStorageService
@inject AuthenticationStateProvider authenticationStateProvider


<link href="css/tailwind/tailwind.css?v=@DateTime.UtcNow.Ticks" rel="stylesheet" />

<AuthorizeView>
    <Authorized>
        <div>
            <div class="bg-red-100 p-5">
                <div class="bg-yellow-100">
                    123
                </div>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<main>
    <div class="flex flex-row justify-center mt-6 font-mono">
        <div class="md:w-8/12 w-11/12 text-center text-xl">
            @if (IsShowBody)
            {
                @Body
            }
        </div>
    </div>
</main>

@code {

    private bool IsShowBody { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var isLogin = uriHelper.ToBaseRelativePath(uriHelper.Uri).ToLower().StartsWith("login");

        IsShowBody = isLogin;

        if (!await localStorageService.ContainKeyAsync(nameof(UserProfile)) && !isLogin)
        {
            uriHelper.NavigateTo($"Login");
            return;
        }

        await ((LIFFAuthenticationProvider)authenticationStateProvider).LoginNotifyAsync();

        IsShowBody = true;

        await base.OnInitializedAsync();
    }
}