@inherits LayoutComponentBase

@using Blazored.LocalStorage;
@using LifeHelper.Shared.Models.LIFF
@using LifeHelper.Client.Provider

@inject NavigationManager uriHelper
@inject ILocalStorageService localStorageService
@inject AuthenticationStateProvider authenticationStateProvider


<AuthorizeView>
    <Authorized>
        <div class="p-5 pb-0">
            <div class="fixed top-16">
                <img class="rounded-[50%] w-12 shadow-lg md:w-16" src="@userProfile?.Picture" />
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<main class="pb-10">
    <div class="flex flex-row justify-center font-mono">
        <div class="md:w-8/12 w-11/12 text-center text-xl">
            @if (IsShowBody)
            {
                @Body
            }
        </div>
    </div>
</main>

@code {

    private bool IsShowBody { get; set; }
    private UserProfile? userProfile { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var isLogin = uriHelper.ToBaseRelativePath(uriHelper.Uri).ToLower().StartsWith("login");

        IsShowBody = isLogin;

        if (!await localStorageService.ContainKeyAsync(nameof(UserProfile)) && !isLogin)
        {
            uriHelper.NavigateTo($"Login", true);
            return;
        }

        userProfile = await localStorageService.GetItemAsync<UserProfile>(nameof(UserProfile));

        await ((LIFFAuthenticationProvider)authenticationStateProvider).LoginNotifyAsync();

        IsShowBody = true;

        await base.OnInitializedAsync();
    }
}